.item1 {
 grid-area: header;
}

.item2 {
  grid-area: menu;
}

.item3 {
  grid-area: main;
}

.item4 {
  grid-area: right;
}

.item5 {
  grid-area: footer;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  grid-gap: 10px;
  background-color: #2C3357;
  padding: 10px;
}

.grid-container > div {
  background-color: #E6D17D;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

div.item3 {
  text-align: left;
  font-size: 15px;
}

div.item4 {
  font-size: 20px;
}

div.item5 {
  font-size: 15px;
}
