body {
    font-family: Courier, monospace "Lucida Console";
    background-color: maroon;
    padding: 25px;
    font-size: 120%;
    font-style: oblique
}

div#content {
    padding: 8px;
    background-color: lightblue;
    border: double 30px yellow;
    outline-style: solid;
    outline-color: invert;
    height: 80vh;

}

h1, h2, h3, h4 {
    font-family: "Courier New", monospace;
}

img {
    float: right;
    width: 400px;
    height: auto;
}

a:link{
    background-color: yellow;
}

a:visited {
  background-color: cyan;
}

a:hover {
    text-decoration: underline;
    background-color: lightgreen;
}

a:active {
  background-color: hotpink;
}
